// цвета на странице
$line-border-color: #e5e4e2;
$page-items-color: #63d1bb;
$social-btn-color: #221f1f;
$btn-border-color: #444444;
$btn-bg-modal-window-color: #63d1bb;
$border-color-checked: #63d1bb;
$page-font-color: #444444;
$week-goods-font-color: #63d1bb;
$link-underline-color: #63d1ba;
$background-color-catalogs-link-item-1: #63d1bb;
$background-color-catalogs-link-item-2: #56c3b2;
$background-color-page-blocks: #f1f1f1;

// Цвета для формы
$form-checkbox-indicator-color: #231f20;
$form-radio-indicator-color: #63d1ba;
$form-border-color-hover: #62d1ba;
$form-border-color-down: #c7c7c7;
$form-border-color-elements: #444444;

$form-font-color-placeholder: #d5d5d5;
$form-font-color-input: #b7b7b7;
$form-forn-color-legend-title: #62d1ba;
$form-input-underline-color:  #000000;
$form-input-underline-color-hover: #62d1ba;
$form-input-border-color-hover: #62d1ba;

// размеры шрифтов
$font-size-page-title: 27px;
$font-size-section-title: 25px;
$font-size-catalogs-link: 19px;
$font-size-bold-text: 17px;
$font-size-normal-text: 15px;
$font-size-goods-mini-text: 13px;

// размеры для media query
$mobile-width-only: #{'(max-width: 767px)'};
$table-width: #{'(min-width: 768px)'};
$desktop-width: #{'(min-width: 1150px)'};

$retina: #{'(min-resolution: 144dpi), (min-resolution: 1.5dppx)'};
