@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensans.woff2"),
       url("../fonts/opensans.woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "OpenSans";
  src: url("../fonts/opensansbold.woff2"),
       url("../fonts/opensansbold.woff");
  font-weight: 700;
  font-style: normal;
}
