.advantages {
  padding-top: 30px;
  padding-bottom: 15px;

  font-weight: bold;
  font-size: $mobile-font-size-advantages-text;
  line-height: $mobile-line-height-advantages-text;
  color: $all-color-page-bold-text;

  @include inner();
}

.advantages__title {
  margin: 0;
  padding-bottom: 30px;

  font-size: $mobile-font-size-categories-title;
  line-height: $mobile-line-height-categories-title;
}

.advantages__list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  margin: 0;
  padding: 0;

  list-style: none;
}

.advantages__item {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  padding-bottom: 25px;

  text-decoration: none;

  &--icon-flower::before {
    content: "";

    display: block;
    width: 33px;
    height: 38px;
    margin-bottom: 18px;
    padding-left: 7px;

    background-image: url("../img/icon-feature-1.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--icon-dollar::before {
    content: "";

    display: block;
    width: 47px;
    height: 27px;
    margin-bottom: 27px;

    background-image: url("../img/icon-feature-3.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--icon-heart::before {
    content: "";

    display: block;
    width: 34px;
    height: 28px;
    margin-bottom: 23px;
    padding-left: 15px;

    background-image: url("../img/icon-feature-5.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--icon-clew::before {
    content: "";

    display: block;
    width: 35px;
    height: 34px;
    margin-bottom: 18px;
    padding-left: 3px;

    background-image: url("../img/icon-feature-2.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--icon-rocket::before {
    content: "";

    display: block;
    width: 55px;
    height: 23px;
    margin-bottom: 27px;

    background-image: url("../img/icon-feature-4.svg");
    background-repeat: no-repeat;
    background-position: center;
  }

  &--icon-gift::before {
    content: "";

    display: block;
    width: 33px;
    height: 32px;
    margin-bottom: 13px;
    padding-left: 3px;

    background-image: url("../img/icon-feature-6.svg");
    background-repeat: no-repeat;
    background-position: center;
  }
}

@media ($tablet-width) {
  .advantages {
    padding-top: 49px;
    padding-bottom: 22px;

    font-weight: bold;
    font-size: $tablet-font-size-advantages-text;
    line-height: $tablet-line-height-advantages-text;
    color: $all-color-page-bold-text;
  }

  .advantages__title {
    padding-bottom: 47px;

    font-size: $tablet-font-size-categories-title;
    line-height: $tablet-line-height-categories-title;
  }

  .advantages__list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .advantages__item {
    width: 300px;
    padding-right: 34px;
    padding-bottom: 57px;

    &--icon-flower {
      order: 1;

      &:before {
        padding-left: 16px;
      }
    }

    &--icon-clew {
      order: 2;
    }

    &--icon-dollar {
      order: 3;
    }

    &--icon-rocket {
      order: 4;
    }

    &--icon-heart {
      order: 5;
    }

    &--icon-gift {
      order: 6;
    }
  }
}

@media ($desktop-width) {
  .advantages {
    width: 700px;
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 30px;

    font-weight: bold;
    font-size: $desktop-font-size-advantages-text;
    line-height: $desktop-line-height-advantages-text;
    color: $all-color-page-bold-text;
  }

  .advantages__title {
    font-size: $desktop-font-size-categories-title;
    line-height: $desktop-line-height-categories-title;
  }

  .advantages__item {
    padding-right: 50px;

    &--icon-gift {
      &::before {
        margin-bottom: 18px;
      }
    }
  }
}
