.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  min-height: 48px;
  margin: 0 auto;
  border-width: 2px;
  border-style: solid;
  border-color: $all-color-button-border;
  background: none;
  font-size: $all-font-size-button;
  font-weight: bold;
  line-height: $all-line-height-button;
  text-transform: uppercase;
  text-decoration: none;
  color: $all-color-button-text;
  cursor: pointer;
  outline: none;

  &--modal-window {
    width: 260px;
    min-height: 52px;
    border: none;
    background-color: $all-color-bg-modal-window-button;
    color: $all-color-modal-window-button-text;
  }

  &--ghost:hover {
    background-color: $all-hover-button-bg-color;
    color: $all-hover-button-text-color;
  }

  &--ghost:active {
    background-color: $all-active-button-bg-color;
    color: $all-active-button-text-color;
  }
}

@media ($table-width) {
  .btn {
    &--buy {
      width: 288px;
    }

    &--write-reviews {
      width: 171px;
    }

    &--write-in-our {
      width: 226px;
    }

    &--form-btn {
      width: 226;
    }

    &--modal-window {
      width: 350px;
    }
  }
}
