.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 260px;
  height: 48px;
  border-width: 2px;
  border-style: solid;
  border-color: $btn-border-color;
  background: none;
  font-size: 18px;
  font-weight: bold;
  line-height: 20px;
  text-transform: uppercase;
  text-decoration: none;
  color: $page-font-color;
  cursor: pointer;
  outline: none;

  &--ghost:hover {
    background-color: #444444;
    color: white;
  }

  &--ghost:active {
    background-color: #444444;
    color: #8d8d8d;
  }
}
