.catalogs-link {
  display: flex;
  flex-direction: column;
  list-style: none;
  font-weight: bold;
  font-size: $font-size-catalogs-link;
  line-height: 24px;
}

.catalogs-link__link {
  min-height: 103px;
  padding-left: 30px;
  background-color: $background-color-catalogs-link-item-1;
  text-decoration: none;
  color: white;

  &:hover {
    padding-bottom: 5px;
    background-color: #59d5bc;
  }

  &:active {
    padding-bottom: 5px;
    background-color: #59d5bc;
    color: #97e2d2;
  }
}

.catalogs-link__link:nth-child(2n) {
  background-color: $background-color-catalogs-link-item-2;

  &:hover {
    background-color: #46c1ae;
  }

  &:active {
    background-color: #46c1ae;
  }
}

.catalogs-link__item {
  padding-top: 38px;
  width: 220px;
}

.catalogs-link__item--icon-interior::after {
  top: 23px;
  right: 6px;
  width: 41px;
  height: 62px;
  background-image: url('../img/icon-interior.svg');
  background-repeat: no-repeat;
}

.catalogs-link__item--icon-toy::after {
  top: 20px;
  right: -4px;
  width: 61px;
  height: 61px;
  background-image: url('../img/icon-toy.svg');
  background-repeat: no-repeat;
}

@media ($table-width) {
  .catalogs-link {
    flex-direction: row;
    margin-right: 50px;
    margin-left: 50px;
  }

  .catalogs-link__link {
    width: 100%;
    padding-left: 35px;
  }
}

@media ($desktop-width) {

  .catalogs-link__link {
    padding-left: 40px;
  }
}
