.catalogs-link {
  display: flex;

  flex-direction: column;
  font-size: $mobile-font-size-catalog-menu-link;
  font-weight: bold;
  line-height: $mobile-line-height-catalog-menu-link;
  list-style: none;
  color: $all-color-text-catalog-menu;

  @include inner();

  width: 320px;
}

.catalogs-link__link {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 103px;
  text-decoration: none;
  color: $all-color-text-catalog-menu;

  &--interior {
    background-color: $all-color-bg-catalog-menu-item-1;
  }

  &--toy {
    background-color: $all-color-bg-catalog-menu-item-2;
  }
}

.catalogs-link__item {
  width: 100%;
  padding-left: 30px;
  padding-right: 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.catalogs-link__item-title {
  width: 170px;
}

.catalogs-link__item-icon {
  &--interior {
    margin-right: 6px;
  }
}


@media ($table-width) {
  .catalogs-link {
    flex-direction: row;
  }

  .catalogs-link__item {
    padding-left: 35px;
    padding-right: 30px;
  }
}

@media ($desktop-width) {

  .catalogs-link__item {
    padding-left: 40px;
    padding-right: 30px;
  }

  .catalogs-link__item-title {
  }
}
