.copyright {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding-top: 20px;
  padding-bottom: 20px;

  color: $all-color-page-bold-text;
}

.copyright__link {
  display: flex;
  align-items: center;

  color: $all-color-page-bold-text;
  text-decoration: none;

  outline: none;

  &:active {
    color: $active-copyright-font-color;
  }
}

.copyright__title-name {
  font-weight: bold;
  font-size: $all-font-size-normal-copyright-text;
  line-height: $all-line-height-normal-copyright-text;
}

.copyright__logo-htmlacademy {
  width: 27px;
  padding-left: 25px;

  fill: #63d1bb;
}

.copyright__link:hover > svg {
  fill: $hover-copyright-logo-color;
}

.copyright__link:active > svg {
  fill: $active-copyright-logo-color;
}


@media ($table-width) {
  .copyright {
    width: 200px;
  }
}
