.copyright {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
  min-height: 79px;
  padding-left: 20px;
  padding-right: 20px;
  color: $all-color-page-bold-text;
}

.copyright__link {
  text-decoration: none;
  color: $all-color-page-bold-text;
  outline: none;
}

.copyright__title-name {
  padding-left: 20px;
  font-size: $all-font-size-normal-copyright-text;
  font-weight: bold;
  line-height: $all-line-height-normal-copyright-text;
}

.copyright__logo {

}

