.copyright {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  padding-bottom: 20px;
  padding-top: 20px;
  color: $all-color-page-bold-text;
}

.copyright__link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: $all-color-page-bold-text;
  outline: none;
}

.copyright__title-name {
  font-size: $all-font-size-normal-copyright-text;
  font-weight: bold;
  line-height: $all-line-height-normal-copyright-text;
}

.copyright__logo {
  padding-left: 25px;
}

@media ($table-width) {
  .copyright {
    width: 200px;
  }
}