.goods-week {
  padding-bottom: 34px;
  line-height: $mobile-line-height-normal-goods-week-text;

  @include inner();
}

.goods-week__header {
  padding-bottom: 30px;
  font-weight: bold;
}

.goods-week__title {
  font-size:  $mobile-font-size-categories-title;
  line-height: $mobile-line-height-categories-title;
  color: $all-color-page-bold-text;
}

.goods-week__title-intro {
  font-size: $all-font-size-sub-title-goods-week;
  line-height: $mobile-line-height-sub-title-goods-week;
  text-transform: uppercase;
  color: $all-color-sub-title-goods-week;
}

.goods-week__description {
  padding-bottom: 30px;
}

.goods-week__stats-table {
  width: 260px;
  border-collapse: collapse;
  font-size: $all-font-size-normal-tables-text;
  line-height: $all-line-height-normal-tables-text;
}

.goods-week__stats-table tr {
  min-height: 40px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $all-color-page-borders;
}

.goods-week__stats-name {
  padding-right: 15px;
}

.goods-week__images {
  padding-top: 28px;
  padding-bottom: 28px;
}

.goods-week__images img {
  width: 260px;
  height: 315px;
}

.goods-week__footer {
  display: flex;
  flex-direction: column;
}

.goods-week__price {
  align-self: center;
  margin-bottom: 28px;
  font-size: $mobile-font-size-price-goods-week;
  font-weight: bold;
  line-height: $all-line-height-price-goods-week;
}
