.goods-list {
  @include inner();
}

.goods {
  margin-bottom: 30px;

  border: 1px solid $all-color-page-borders;

  &:hover {
    box-shadow: 0 7px 15px 0 rgba(236,236,236,1);

    transition-duration: 0.35s;
  }

  &:active {
    box-shadow: 0 7px 15px -5px rgba(236,236,236,1);
  }
}

.goods__images {
  width: 258px;
  height: 195px;
}

.goods__image {
  width: 258px;
  height: 195px;
}

.goods__footer {
  padding-top: 28px;
  padding-right: 27px;
  padding-bottom: 5px;
  padding-left: 27px;
}

.goods__footer-wrapper {
  display: flex;
  flex-direction: column;

  &--footer {
    flex-direction: row;
    justify-content: space-between;
    padding-top: 21px;
    padding-bottom: 21px;

    border-top: 1px solid $all-color-page-borders;
  }
}

.goods__link-title {
  padding-bottom: 4px;

  text-decoration: none;
}

.goods__title {
  margin: 0;

  font-weight: bold;
  font-size: $mobile-font-size-goods-title;
  line-height: $all-line-height-goods-title;
  color: black;

  outline: none;

  &:hover {
    color: #8d8d8d;

    transition-duration: 0.35s;
  }

  &:active {
    color: #cacaca;
  }
}

.goods__stats {
  margin: 0;
  padding-bottom: 19px;

  font-size: $mobile-font-size-goods-stats;
  line-height: $all-line-height-goods-stats;
}

.goods__btn-buy {
  width: 19px;
  height: 21px;
  margin: 0;
  padding: 0;

  border: none;
  outline: none;
  cursor: pointer;

  fill: #d3d2d2;
}

.goods__btn-buy:hover svg {
  transition-duration: 0.35s;

  fill: $hover-icon-search-and-cart-color;
}

.goods__btn-buy:active svg {
  fill: $active-icon-search-and-cart-color;
}

.goods__price {
  margin: 0;

  font-weight: bold;
  font-size: $mobile-font-size-goods-price;
  line-height: $all-line-height-goods-price;
  color: black;
}


@media ($tablet-width) {
  .goods {
    display: flex;
    flex-direction: row;
    width: 666px;
    margin-bottom: 52px;
  }

  .goods__title {
    font-size: $tablet-font-size-goods-title;
  }

  .goods__images {
    width: 334px;
    height: 334px;
  }

  .goods__image {
    width: 334px;
    height: 334px;
  }

  .goods__stats {
    font-size: $tablet-font-size-goods-stats;
  }

  .goods__footer {
    display: flex;
    flex-grow: 2;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 25px;
    padding-right: 33px;
    padding-left: 30px;
  }

  .goods__footer-wrapper {
    &--footer {
      padding-top: 25px;
    }
  }

  .goods__price {
    font-size: $tablet-font-size-goods-price;
  }
}

@media ($desktop-width) {
  .goods-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .goods__title {
    font-size: $desktop-font-size-goods-title;
  }

  .goods {
    flex-direction: column;
    width: 316px;
  }

  .goods__images {
    width: 316px;
    height: 462px;
  }

  .goods__image {
    width: 316px;
    height: 462px;
  }

  .goods__footer {
    padding-top: 25px;
    padding-right: 27px;
    padding-left: 27px;
  }

  .goods__stats {
    padding-bottom: 16px;

    font-size: $desktop-font-size-goods-stats;
  }

  .goods__price {
    font-size: $desktop-font-size-goods-price;
  }

  .goods__btn-buy {
    padding-right: 7px;
  }
}
