.goods {
  min-height: 372px;
  margin-bottom: 30px;
  border-width: 1px;
  border-style: solid;
  border-color: $all-color-page-borders;

  &:hover {
    box-shadow: 0px 7px 15px 0px rgba(236,236,236,1);
  }

  &:active {
    box-shadow: 0px 7px 15px -5px rgba(236,236,236,1);
  }
}

.goods__image {
  width: 260px;
  height: 195px;
}

.goods__header {
  margin-bottom: 15px;
}

.goods__footer {
  width: 202px;
  margin-right: auto;
  margin-left: auto;
}

.goods__footer-wrapper {
  display: flex;
  flex-direction: column;

  &--header {
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: $all-color-page-borders;
  }

  &--footer {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 21px;
    padding-bottom: 21px;
  }
}

.goods__link-title {
  text-decoration: none;
}

.goods__title {
  margin: 0;
  font-size: $mobile-font-size-goods-title;
  font-weight: bold;
  line-height: $all-line-height-goods-title;
  color: black;
  outline: none;

  &:hover {
    color: #8d8d8d;
  }

  &:active {
    color: #cacaca;
  }
}

.goods__stats {
  margin: 0;
  padding-bottom: 19px;
  font-size: $mobile-font-size-goods-stats;
  line-height: $all-line-height-goods-stats;
}

.goods__btn-buy {
  width: 19px;
  height: 21px;
  font-size: 5;
  outline: none;
  cursor: pointer;
}

.goods__price {
  margin: 0;
  font-size: $mobile-font-size-goods-price;
  font-weight: bold;
  line-height: $all-line-height-goods-price;
  color: black;
}
