.goods-week {
  position: relative;

  padding-top: 27px;
  padding-bottom: 40px;

  line-height: $mobile-line-height-normal-goods-week-text;

  @include inner();

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 7px;

    background: url("../img/bg-zigzag-line.svg") no-repeat;
    background-size: 320px 7px;
  }
}

.goods-week__header {
  padding-bottom: 19px;

  font-weight: bold;
}

.goods-week__title {
  margin: 0;
  padding-bottom: 5px;

  font-size: $mobile-font-size-categories-title;
  line-height: $mobile-line-height-categories-title;
  color: $all-color-page-bold-text;
}

.goods-week__title-intro {
  font-size: $all-font-size-sub-title-goods-week;
  line-height: $mobile-line-height-sub-title-goods-week;
  color: $all-color-sub-title-goods-week;
  text-transform: uppercase;
}

.goods-week__description {
  margin: 0;
  padding-bottom: 20px;
}

.goods-week__stats-table {
  width: 260px;

  border-collapse: collapse;
  font-size: $all-font-size-normal-tables-text;
  line-height: $all-line-height-normal-tables-text;
}

.goods-week__stats-table tr {
  min-height: 40px;

  border-bottom: 1px solid $all-color-page-borders;
}

.goods-week__stats-name {
  padding-top: 8px;
  padding-right: 11px;
  padding-bottom: 10px;
}

.goods-week__stats-value {
  padding-top: 8px;
  padding-bottom: 10px;
}

.goods-week__images {
  width: 260px;
  height: 315px;
  padding-top: 28px;
  padding-bottom: 26px;
}

.goods-week__images img {
  width: 100%;
  height: auto;
}

.goods-week__footer {
  display: flex;
  flex-direction: column;
}

.goods-week__price {
  align-self: center;
  padding-bottom: 25px;

  font-weight: bold;
  font-size: $mobile-font-size-price-goods-week;
  line-height: $all-line-height-price-goods-week;
}


@media ($tablet-width) {
  .goods-week {
    position: relative;

    display: block;
    min-height: 460px;
    padding-top: 45px;
    padding-bottom: 70px;
    padding-left: 48px;

    line-height: $tablet-line-height-normal-goods-week-text;

    @include clearfix();

    &::before {
      height: 17px;

      background-size: 772px 17px;
    }
  }

  .goods-week__header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 668px;
    padding-bottom: 48px;
  }

  .goods-week__title {
    z-index: 2;

    padding: 0;

    font-size: $tablet-font-size-categories-title;
    line-height: $tablet-line-height-categories-title;
  }

  .goods-week__title-intro {
    width: 100px;
    padding-top: 10px;
    padding-right: 13px;

    line-height: $tablet-line-height-sub-title-goods-week;
    text-align: center;
  }

  .goods-week__description {
    float: left;
    width: 290px;
    padding-bottom: 57px;
  }

  .goods-week__descriptio-text {
    margin: 0;
    padding-bottom: 38px;
  }

  .goods-week__stats-table {
    width: 290px;
  }

  .goods-week__stats-name {
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 10px;
  }

  .goods-week__stats-value {
    padding-top: 8px;
    padding-bottom: 10px;
  }

  .goods-week__images {
    float: right;

    width: 334px;
    height: 404px;
    padding: 0;
    padding-top: 8px;
  }

  .goods-week__footer {
    float: left;

    width: 290px;
  }

  .goods-week__price {
    padding-bottom: 34px;

    font-size: 20px;
  }
}

@media ($desktop-width) {
  .goods-week {
    width: 1050px;
    min-height: 600px;
    margin: 0;
    padding-top: 122px;
    padding-bottom: 78px;

    line-height: $desktop-line-height-normal-goods-week-text;

    &::before {
      height: 23px;

      background-size: 1150px 23px;
    }
  }

  .goods-week__header {
    flex-direction: row-reverse;
    justify-content: flex-start;
    padding-bottom: 50px;
    padding-left: 21px;
  }

  .goods-week__title {
    padding-left: 35px;

    font-size: $desktop-font-size-categories-title;
    line-height: $desktop-line-height-categories-title;
  }

  .goods-week__title-intro {
    padding-top: 16px;
    padding-right: 5px;

    line-height: $desktop-line-height-sub-title-goods-week;
  }

  .goods-week__description {
    width: 292px;
    padding-bottom: 111px;
    padding-left: 177px;
  }

  .goods-week__description-text {
    margin: 0;
    padding-bottom: 48px;
  }

  .goods-week__stats-table {
    width: 292px;
  }

  .goods-week__stats-name {
    padding-top: 8px;
    padding-right: 0;
    padding-bottom: 11px;
  }

  .goods-week__stats-value {
    padding-top: 8px;
    padding-bottom: 11px;
  }

  .goods-week__images {
    width: 525px;
    height: 636px;
    padding: 0;
    margin-top: -159px;
  }

  .goods-week__footer {
    width: 292px;
    padding-left: 177px;
  }

  .goods-week__price {
    padding-bottom: 32px;
    padding-left: 9px;
  }
}
