.main-nav {
  position: absolute;
  top: 79px;
  left: 0;
  z-index: 1;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    position: static;

    display: flex;
    flex-direction: column;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  &--nojs:first-child {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $all-color-page-borders;
  }

  &--nojs > .main-nav__item:last-of-type {
    border-bottom: none;
  }
}

.main-nav__item {
  width: 245px;
  padding-top: 28px;
  padding-bottom: 23px;
  padding-left: 75px;

  background-color: white;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $all-color-page-borders;

  &--search {
    width: 290px;
    padding-left: 30px;
  }

  &--cart {
    width: 290px;
    padding-left: 30px;
  }
}

.main-nav__item-icon {
  padding-top: 2px;
  padding-right: 25px;

  fill: #d3d2d2;
}

.main-nav__item-link {
  display: flex;

  font-weight: bold;
  font-size: $all-font-size-main-nav-menu-link;
  line-height: $all-line-height-main-nav-menu-link;
  color: $all-color-page-bold-text;
  text-decoration: none;

  &:hover {
    color: $hover-link-font-color;

    transition-duration: 0.35s;
  }

  &:active {
    color: $active-link-font-color;
  }
}

.main-nav__item-link:hover svg {
  fill: $hover-icon-search-and-cart-color;

  transition-duration: 0.35s;
}

.main-nav__item-link:active svg {
  fill: $active-icon-search-and-cart-color;
}

.main-nav__toggle {
  position: relative;

  width: 20px;
  height: 14px;

  font-size: 0;

  background: none;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-right: none;
  border-left: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;

    display: block;
    width: 20px;
    height: 2px;

    background-color: black;
  }

  &--opened {
    border: none;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 40%;
      left: 0;

      display: block;
      width: 20px;
      height: 2px;

      background-color: black;
      transform: rotate(-45deg);
    }
  }

  &--nojs {
    display: none;
  }
}

@media ($table-width) {
  .main-nav {
    position: static;

    display: flex;
    flex-direction: row;
  }

  .main-nav__list {
    flex-direction: row;

    border: none;
  }

  .main-nav__item {
    width: auto;

    background: none;
    border: none;

    &--1 {
      position: absolute;
      bottom: -40px;
      left: 0;

      padding: 0;
      padding-left: 50px;
    }

    &--2 {
      position: absolute;
      bottom: -40px;
      left: 170px;

      padding: 0;
      padding-left: 50px;
    }

    &--search {
      width: 82px;
      padding: 0;
      padding-top: 35px;
      padding-bottom: 30px;

      border-width: 1px;
      border-style: solid;
      border-color: #e7e7e7;
      border-top: 0;
      border-bottom: 0;
    }

    &--cart {
      width: 236px;
      padding-top: 35px;
      padding-bottom: 30px;
      padding-left: 31px;
    }
  }

  .main-nav__item-link {
    margin: 0;

    &--1 {
      font-size: $all-font-size-mini-nav-menu-link;
    }

    &--2 {
      font-size: $all-font-size-mini-nav-menu-link;
    }

    &--search {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      font-size: 0;
    }

    &--cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .main-nav__item-icon {
    &--search {
      width: 18px;
      height: 19px;
      padding: 0;
    }

    &--cart {
      width: 21px;
      height: 18px;
    }
  }

  .main-nav__toggle {
    display: none;
  }

  .main-nav__item-link--cart .main-nav__item-name {
    flex-grow: 2;
  }
}

@media ($desktop-width) {
  .main-nav__item {
    &--1 {
      position: static;

      width: 155px;
      padding: 0;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;

      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: $all-color-page-borders;
    }

    &--2 {
      position: static;

      width: 156px;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 35px;
    }

    &--search {
      margin-left: 323px;
    }
  }

  .main-nav__item-link {
    &--1 {
      align-self: center;

      font-size: $all-font-size-main-nav-menu-link;
    }

    &--2 {
      align-self: center;

      font-size: $all-font-size-main-nav-menu-link;
    }
  }
}
