.main-nav {
  position: absolute;
  top: 79px;
  left: 0;
  z-index: 1;

  width: 320px;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    position: static;

    display: flex;
    flex-direction: column;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;

  list-style: none;

  &--nojs:first-child {
    border-top: 1px solid $all-color-page-borders;
  }

  &--nojs > .main-nav__item:last-of-type {
    border-bottom: none;
  }
}

.main-nav__item {
  width: 245px;
  padding-top: 28px;
  padding-bottom: 23px;
  padding-left: 75px;

  font-weight: bold;
  font-size: $all-font-size-main-nav-menu-link;
  line-height: $all-line-height-main-nav-menu-link;
  color: $all-color-page-bold-text;

  background-color: white;
  border-bottom: 1px solid $all-color-page-borders;

  &--search {
    width: 290px;
    padding-left: 30px;
  }

  &--cart {
    width: 290px;
    padding-left: 30px;
  }
}

.main-nav__item-icon {
  padding-top: 2px;
  padding-right: 25px;

  fill: #d3d2d2;
}

.main-nav__item-link {
  display: flex;

  color: $all-color-page-bold-text;
  text-decoration: none;

  &:hover {
    color: $hover-link-font-color;

    transition-duration: 0.35s;
  }

  &:active {
    color: $active-link-font-color;
  }
}

.main-nav__item-link:hover svg {
  transition-duration: 0.35s;

  fill: $hover-icon-search-and-cart-color;
}

.main-nav__item-link:active svg {
  fill: $active-icon-search-and-cart-color;
}

@media ($tablet-width) {
  .main-nav {
    position: static;

    display: flex;
    flex-direction: row;
    width: auto;
  }

  .main-nav__list {
    flex-direction: row;

    border: none;
  }

  .main-nav__item {
    width: auto;

    background: none;
    border: none;

    &--1 {
      position: absolute;
      bottom: -40px;
      left: 0;
      z-index: 1;

      padding: 0;
      padding-left: 50px;

      font-size: $all-font-size-mini-nav-menu-link;
    }

    &--2 {
      position: absolute;
      bottom: -40px;
      left: 170px;
      z-index: 1;

      padding: 0;
      padding-left: 50px;

      font-size: $all-font-size-mini-nav-menu-link;
    }

    &--search {
      width: 82px;
      padding: 0;
      padding-top: 35px;
      padding-bottom: 30px;

      border: 0 solid #e7e7e7;
      border-right-width: 1px;
      border-left-width: 1px;
    }

    &--cart {
      width: 236px;
      padding-top: 31px;
      padding-bottom: 30px;
      padding-left: 28px;
    }
  }

  .main-nav__item-link {
    margin: 0;

    &--search {
      display: flex;
      flex-direction: row;
      justify-content: center;
      width: 100%;

      font-size: 0;
    }

    &--cart {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
    }
  }

  .main-nav__item-icon {
    &--search {
      width: 18px;
      height: 19px;
      padding: 0;
    }

    &--cart {
      width: 21px;
      height: 18px;

      padding-right: 30px;
      padding-left: 3px;
    }
  }

  .page-header__toggle {
    display: none;
  }

  .main-nav__item-link--cart .main-nav__item-name {
    flex-grow: 2;
  }
}

@media ($desktop-width) {
  .main-nav__item {
    &--1 {
      position: static;

      width: 155px;
      padding: 0;
      padding-top: 30px;
      padding-right: 30px;
      padding-bottom: 30px;

      border-right: 1px solid $all-color-page-borders;
    }

    &--2 {
      position: static;

      width: 156px;
      padding: 0;
      padding-top: 30px;
      padding-bottom: 30px;
      padding-left: 35px;
    }

    &--search {
      margin-left: 323px;
    }
  }

  .main-nav__item-link {
    &--1 {
      align-self: center;

      font-size: $all-font-size-main-nav-menu-link;
    }

    &--2 {
      align-self: center;

      font-size: $all-font-size-main-nav-menu-link;
    }
  }
}
