.main-nav {
  position: absolute;
  top: 79px;
  left: 0px;
  z-index: 1;

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }

  &--nojs {
    position: static;
    display: flex;
    flex-direction: column;
  }
}

.main-nav__list {
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  list-style: none;

  &--nojs:first-child {
    border-top-width: 1px;
    border-top-style: solid;
    border-top-color: $all-color-page-borders;
  }

  &--nojs > .main-nav__item:last-of-type {
    border-bottom: none;
  }
}

.main-nav__item {
  display: flex;
  width: 320px;
  min-height: 79px;
  padding-top: 28px;
  padding-left: 75px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $all-color-page-borders;
  background-color: white;
  box-sizing: border-box;

  &--search {
    padding-left: 30px;
  }

  &--cart {
    padding-left: 30px;
  }
}

.main-nav__item-icon {
  padding-right: 25px;
  padding-top: 2px;
}

.main-nav__item-link {
  display: flex;
  text-decoration: none;
  font-size: $all-font-size-main-nav-menu-link;
  font-weight: bold;
  line-height: $all-line-height-main-nav-menu-link;
  color: $all-color-page-bold-text;

  &:hover {
    color: #8d8d8d;
  }

  &:active {
    color: #cacaca;
  }
}

.main-nav__toggle {
  position: relative;
  width: 20px;
  height: 14px;
  font-size: 0;
  border-width: 2px;
  border-style: solid;
  border-color: black;
  border-left: none;
  border-right: none;
  background: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: '';
    position: absolute;
    top: 40%;
    left: 0;
    display: block;
    width: 20px;
    height: 2px;
    background-color: black;
  }

  &--opened {
    border: none;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      content: '';
      position: absolute;
      top: 40%;
      left: 0;
      display: block;
      width: 20px;
      height: 2px;
      background-color: black;
      transform: rotate(-45deg);
    }
  }

  &--nojs {
    display: none;
  }
}

@media ($table-width) {
  .main-nav {
    position: static;
    display: flex;
    flex-direction: row;
  }

  .main-nav__list {
    flex-direction: row;
    border: none;
  }

  .main-nav__item {
    width: auto;
    height: auto;
    border: none;
    background: none;
    padding: 0;

    &--1 {
      position: absolute;
      bottom: -100px;
      left: 0;
      padding: 0;
      padding-left: 50px;
    }

    &--2 {
      position: absolute;
      bottom: -100px;
      left: 170px;
      padding: 0;
      padding-left: 50px;
    }

    &--search {
      width: 82px;
      height: 88px;
      padding:0;
      border-width: 1px;
      border-style: solid;
      border-color: #e7e7e7;
      border-top: 0;
      border-bottom: 0;
    }

    &--cart {
      padding-left: 30px;
    }
  }

  .main-nav__item-link {
    margin: 0;

    &--1 {
      font-size: $all-font-size-mini-nav-menu-link;
    }

    &--2 {
      font-size: $all-font-size-mini-nav-menu-link;
    }

    &--search {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
      font-size: 0px;
    }

    &--cart {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  .main-nav__item-icon {
    &--search {
      padding: 0;
      margin-right: auto;
      margin-left: auto;
    }
  }

  .main-nav__toggle {
    display: none;
  }
}

@media ($desktop-width) {
  .main-nav__item {
    &--1 {
      position: static;
      border-right-width: 1px;
      border-right-style: solid;
      border-right-color: $all-color-page-borders;
      padding: 0;
      padding-right: 35px;
    }

    &--2 {
      position: static;
      padding: 0;
      padding-left: 35px;
      margin-right: 335px;
    }
  }

  .main-nav__item-link {
    &--1 {
      align-self: center;
      font-size: $all-font-size-main-nav-menu-link;
    }

    &--2 {
      align-self: center;
      font-size: $all-font-size-main-nav-menu-link;
    }
  }
}
