.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 5;

  width: 100%;
  height: 100%;

  background-color: rgba(255, 255, 255, 0.9);

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}
