.modal-add-to-cart {
  position: fixed;
  top: 35%;
  left: 50%;
  z-index: 10;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 258px;
  margin-left: -160px;
  padding-top: 30px;
  padding-bottom: 45px;
  padding-left: 30px;
  padding-right: 30px;

  background-color: white;
  border-width: 1px;
  border-style: solid;
  border-color: $all-color-page-borders;
  box-shadow: 0px 10px 20px 0px rgba(198,198,198,1);

  &--closed {
    display: none;
  }

  &--opened {
    display: block;
  }
}

.modal-add-to-cart__title {
  margin: 0;
  padding-bottom: 20px;

  font-size: $mobile-font-size-modal-window-title;
  font-weight: bold;
  line-height: $mobile-line-height-modal-window-title;
  text-transform: uppercase;
  text-align: center;
  color: $all-color-page-bold-text;
}

.modal-add-to-cart__text {
  margin: 0;
  padding-bottom: 30px;

  font-size: $mobile-font-size-modal-window-text;
  line-height: $all-line-height-modal-window-text;
  text-align: center;
}

.modal-add-to-cart__form {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}

.modal-add-to-cart__label-size {
  display: flex;
  width: 78px;
  min-height: 48px;
  margin-bottom: 30px;

  outline: none;
  cursor: pointer;
}

.modal-add-to-cart__label-text {
  width: 100%;
  padding-top: 15px;
  border-width: 2px;
  border-style: solid;
  border-color: $all-color-page-borders;
  font-size: $all-font-size-modal-window-checkbox;
  font-weight: bold;
  line-height: $all-line-height-modal-window-checkbox;
  text-align: center;
  cursor: pointer;
  outline: none;

  &:hover {
    border-color: #c7c7c7;
  }
}

.modal-add-to-cart__radio-size {
  display: none;

  &:checked ~ .modal-add-to-cart__label-text {
    border-color: #c7c7c7;
  }
}

@media ($table-width) {
  .modal-add-to-cart {
    width: 350px;
    margin-left: -284px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 108px;
    padding-right: 108px;
  }

  .modal-add-to-cart__label-size {
    width: 108px;
    min-height: 48px;
  }
}

@media ($desktop-width) {
  .modal-add-to-cart {
    width: 350px;
    padding-top: 45px;
    padding-bottom: 45px;
    padding-left: 108px;
    padding-right: 108px;
  }
}
