.page-body {
  width: 320px;
  margin: 0 auto;
  padding: 0;

  font-family: Open Sans, Arial, Helvetica, sans-serif;
  font-size: $mobile-font-size-normal-page-text;
  line-height: $all-line-height-normal-page-text;
  color: $all-color-page-normal-text;
}

img {
  max-width: 100%;
  height: auto;
}

@media ($table-width) {
  .page-body {
    width: 768px;

    font-size: $table-font-size-normal-page-text;
  }
}

@media ($desktop-width) {
  .page-body {
    width: 1150px;

    font-size: $desktop-font-size-normal-page-text;
  }
}
