.page-main__header {
  position: relative;

  width: 320px;
  margin: 0 auto;

  padding-top: 70px;
  padding-bottom: 75px;

  background-color: $all-color-bg-header-block-title;

  &--index-page {
    padding-bottom: 0;

    background: $all-color-bg-header-block-index-page-title url("../img/hero-mobile@1x.jpg") no-repeat center -20px;
    background-size: 574px auto;
  }

  &--catalog-page {
    margin-bottom: 30px;
  }
}

@media ($retina-dpi), ($retina-dppx) {
  .page-main__header {
    &--index-page {
      background-image: url("../img/hero-mobile@2x.jpg");
    }
  }
}

.page-main__title {
  margin: 0;

  font-weight: bold;
  font-size: $mobile-font-size-page-title;
  line-height: $mobile-line-height-page-title;
  text-align: center;
  color: $all-color-page-bold-text;

  &--index-page {
    width: 260px;
    margin-right: auto;
    margin-left: auto;
    padding-bottom: 122px;
  }
}

.page-main__menu-list {
  display: none;
}

.page-main__intro {
  display: none;
}

@media ($tablet-width) {
  .page-main__header {
    width: 768px;

    padding-top: 92px;
    padding-bottom: 89px;
    margin-top: -41px;

    border-top: 1px solid $all-color-page-borders;

    &--index-page {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-top: 150px;
      padding-bottom: 0;

      background: url("../img/hero-desktop@1x.jpg") center 0;
      background-size: 1150px auto;
    }

    &--catalog-page {
      margin-bottom: 75px;
      padding-bottom: 85px;
    }

    &::after {
      content: "";
      position: absolute;
      bottom: -10px;
      left: 0;
      z-index: 1;

      display: block;
      width: 100%;
      height: 24px;

      background: url("../img/bg-zigzag-fill.svg") no-repeat;
      background-size: 770px 24px;
    }
  }

  @media ($retina-dpi), ($retina-dppx) {
    .page-main__header {
      &--index-page {
        background-image: url("../img/hero-desktop@2x.jpg");
      }
    }
  }

  .page-main__title-br {
    display: none;
  }

  .page-main__title {
    font-size: $tablet-font-size-page-title;
    line-height: $tablet-line-height-page-title;

    &--index-page {
      display: block;
      width: 550px;
      margin-right: auto;
      margin-left: auto;
      padding-bottom: 370px;
    }
  }

  .page-main__intro {
    position: absolute;
    top: 15px;
    right: 50px;

    display: block;

    font-size: $all-font-size-mini-nav-menu-link;
    line-height: $all-line-height-main-nav-menu-link;
  }
}

@media ($desktop-width) {
  .page-main__header {
    width: 1150px;
    padding-top: 15px;
    padding-bottom: 105px;
    margin-top: 0;
    border-top: none;

    &--index-page {
      padding-bottom: 0;
    }

    &--catalog-page {
      margin-bottom: 127px;
    }

    &::after {
      bottom: -14px;

      height: 34px;

      background-size: 1150px auto;
    }
  }
  .page-main__title {
    font-size: $desktop-font-size-page-title;
    line-height: $desktop-line-height-page-title;

    &--index-page {
      width: 650px;
      padding-bottom: 355px;
    }
  }

  .page-main__menu-list {
    display: flex;
    flex-wrap: wrap;
    width: 760px;
    margin: 0;
    padding-bottom: 52px;
    padding-left: 50px;

    list-style: none;
    font-weight: bold;
    font-size: $all-font-size-mini-nav-menu-link;
    line-height: $all-line-height-main-nav-menu-link;

    &--index-page {
      padding-bottom: 112px;
    }
  }

  .page-main__menu-item {
    padding-right: 65px;
  }

  .page-main__menu-link {
    color: $all-color-page-bold-text;
    text-decoration: none;

    outline: none;

    &:hover {
      color: $hover-link-font-color;

      transition-duration: 0.35s;
    }

    &:active {
      color: $active-link-font-color;
    }
  }

  .page-main__intro {
    top: 15px;
    right: 50px;
  }
}
