.page-header {
  z-index: 2;

  border: 1px solid $all-color-page-borders;
  border-right-style: none;
  border-left-style: none;
}

.page-header__inner {
  position: relative;

  display: flex;
  flex-direction: row;
  margin: 0;

  &--nojs {
    flex-direction: column;
  }
}

.page-header__toggle {
  position: relative;

  width: 20px;
  height: 14px;
  margin-top: 30px;

  font-size: 0;

  background: none;
  border: 2px solid black;
  border-right-style: none;
  border-left-style: none;
  outline: none;
  cursor: pointer;

  &::before {
    content: "";
    position: absolute;
    top: 40%;
    left: 0;

    display: block;
    width: 20px;
    height: 2px;

    background-color: black;
  }

  &--opened {
    border: none;

    &::before {
      transform: rotate(45deg);
    }

    &::after {
      content: "";
      position: absolute;
      top: 40%;
      left: 0;

      display: block;
      width: 20px;
      height: 2px;

      background-color: black;
      transform: rotate(-45deg);
    }
  }

  &--nojs {
    display: none;
  }
}

@media ($tablet-width) {
  .page-header__inner {
    position: relative;

    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    @include inner();
  }
}
