.page-logo {
  width: 86px;
  height: 35px;
  padding-left: 120px;
  padding-right: 65px;
  padding-top: 20px;
  padding-bottom: 23px;
}

@media ($table-width) {
  .page-logo {
    padding-left: 0;
  }
}

@media ($desktop-width) {
  .page-logo {
    position: absolute;
    top: 5px;
    left: 533px;
    z-index: 4;
  }
}
