.page-main__header {
  width: 320px;
  min-height: 176px;
  margin-bottom: 30px;
  background-color: $background-color-page-blocks;

  &--index-page {
    background-image: url('../img/hero-mobile@1x.jpg');
    background-repeat: no-repeat;
    background-position: center 0;
  }

  &--catalog-page {
    margin-bottom: 22px;
  }
}

.page-main__title {
  padding-top: 70px;
  font-size: $font-size-page-title;
  font-weight: bold;
  text-align: center;
  line-height: 30px;

  &--index-page {
    padding-top: 75px;
    min-height: 282px;
  }
}

.page-main__intro {
  margin-bottom: 23px;
  font-size: $font-size-goods-mini-text;
  line-height: 24px;
  color: $page-font-color;
}
