.page-logo {
  width: 86px;
  height: 35px;
  padding-top: 20px;
  padding-right: 67px;
  padding-bottom: 23px;
  padding-left: 116px;
}

.page-logo__link {
  &:hover img {
    opacity: 0.6;
  }

  &:active img {
    opacity: 0.3;
  }
}

@media ($tablet-width) {
  .page-logo {
    width: 112px;
    padding-left: 0;
    padding-right: 208px;
  }
}

@media ($desktop-width) {
  .page-logo {
    order: 1;
    width: 148px;

    padding: 0;
    padding-right: 102px;
    padding-left: 73px;
    padding-top: 8px;
  }
}
