.page-footer {
  height: 160px;
  background-color: $all-color-bg-footer-block;
}

.page-footer__logo {
  display: none;
}

.page-footer__inner {
  @include inner();
}

@media ($table-width) {
  .page-footer {
    height: 143px;
  }

  .page-footer__inner {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 143px;
  }

  .page-footer__logo {
    display: block;
    width: 102px;
    height: 24px;
    padding-right: 98px;

    background-color: black;
  }
}
