.page-header {
  z-index: 2;

  border: 1px solid $all-color-page-borders;
  border-right-style: none;
  border-left-style: none;
}

.page-header__inner {
  position: relative;

  display: flex;
  flex-direction: row;
  margin: 0;

  &--nojs {
    flex-direction: column;
  }
}

@media ($tablet-width) {
  .page-header__inner {
    position: relative;

    flex-direction: row;
    justify-content: space-between;
    align-items: stretch;

    @include inner();
  }
}
