.production-process {
  padding-bottom: 58px;

  @include inner();
}

.production-process__wrapper {
  padding-bottom: 32px;

  font-size: $mobile-font-size-production-process-text;
  line-height: $mobile-line-height-production-process-text;

  border-width: 1px;
  border-style: solid;
  border-color: $all-color-page-borders;

  &:hover {
    box-shadow: 0 7px 15px 0 rgba(236,236,236,1);

    transition-duration: 0.35s;
  }

  &:active {
    box-shadow: 0 7px 15px -5px rgba(236,236,236,1);
  }
}

.production-process__title {
  display: flex;
  margin: 0;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-left: 33px;

  font-weight: bold;
  font-size: $mobile-font-size-goods-title;
  line-height: $all-line-height-goods-title;
  color: $all-color-page-bold-text;

  &::before {
    content: "";

    display: block;
    align-self: center;
    width: 32px;
    height: 27px;
    padding-right: 27px;
    padding-bottom: 7px;

    background-image: url("../img/icon-video.svg");
    background-repeat: no-repeat;
  }
}

.production-process__video {
  position: relative;

  margin-bottom: 19px;

  &::after {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;

    display: block;
    width: 102px;
    height: 78px;
    margin-top: -39px;
    margin-left: -51px;

    background-image: url("../img/icon-play.svg");
    background-repeat: no-repeat;
  }

  &:hover::after {
    transform: scale(1.2);

    transition-duration: 0.35s;
  }

  &:active::after {
    transform: scale(0.8);
    opacity: 0.5;

    transition-duration: 0.35s;
  }
}

.production-process__item {
  width: 258px;
  height: 150px;
}

.production-process__description {
  margin: 0;
  padding-right: 33px;
  padding-bottom: 25px;
  padding-left: 33px;
}

@media ($table-width) {
  .production-process {
    padding-bottom: 64px;
  }

  .production-process__wrapper {
    display: flex;
    flex-direction: column;
    padding-bottom: 45px;

    font-size: $table-font-size-production-process-text;
    line-height: $table-line-height-production-process-text;
  }

  .production-process__video {
    order: 1;
    width: 666px;
    height: 455px;
    margin: 0;
  }

  .production-process__item {
    width: 666px;
    height: 455px;
  }

  .production-process__title {
    order: 2;
    padding-top: 38px;
    padding-bottom: 22px;
    padding-left: 41px;

    font-size: $table-font-size-goods-title;

    &::before {
      padding-right: 33px;
    }
  }

  .production-process__description {
    order: 3;
    padding-bottom: 35px;
    padding-left: 41px;
  }
}

@media ($desktop-width) {
  .production-process {
    padding-bottom: 109px;
  }

  .production-process__wrapper {
    display: block;
    padding-bottom: 0;

    font-size: $desktop-font-size-production-process-text;
    line-height: $desktop-line-height-production-process-text;

    @include clearfix();
  }

  .production-process__title {
    display: block;
    float: right;
    width: 200px;
    padding-top: 44px;
    padding-right: 87px;
    padding-bottom: 33px;
    padding-left: 79px;

    font-size: $desktop-font-size-goods-title;

    &::before {
      padding-bottom: 27px;
    }
  }

  .production-process__video {
    float: left;
    width: 681px;
    height: 453px;
  }

  .production-process__item {
    width: 681px;
    height: 453px;
  }

  .production-process__description {
    float: left;
    width: 230px;
    padding-right: 56px;
    padding-bottom: 46px;
    padding-left: 79px;
  }
}
