.reviews {
  position: relative;

  padding-bottom: 50px;

  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;

    display: block;
    width: 100%;
    height: 7px;

    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: no-repeat;
    background-size: 320px 7px;
  }
}

.reviews__inner {
  @include inner();
}

.reviews__title {
  margin: 0;
  padding-bottom: 24px;

  font-weight: bold;
  font-size: $mobile-font-size-categories-title;
  line-height: $mobile-line-height-categories-title;
  color: $all-color-page-bold-text;
}

.reviews__item {
  margin: 0;
  padding-bottom: 25px;
}

.reviews__author-wrapper {
  padding-bottom: 30px;
}

.reviews__text-review {
  margin: 0;
  padding-bottom: 23px;
}

.reviews__author-name {
  font-weight: bold;
  font-size: 18px;
  color: $all-color-page-bold-text;
  font-style: normal;
}

.reviews__btn-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 14px;
}

.reviews__btn {
  min-width: 130px;
  min-height: 50px;

  font-size: 0;

  background: none;
  border-width: 1px;
  border-style: solid;
  border-color: $all-color-page-borders;
  outline: none;
  cursor: pointer;

  &:hover {
    &::before {
      border-color: $hover-arrows-btn-color;

      transition-duration: 0.35s;
    }

    &::after {
      background-color: $hover-arrows-btn-color;

      transition-duration: 0.35s;
    }
  }

  &:active {
    &::before {
      border-color: $active-arrows-btn-color;
    }

    &::after {
      background-color: $active-arrows-btn-color;
    }
  }
}

.reviews__btn {
  position: relative;

  &--prev {
    border-right: none;

    &:before {
      content: "";
      position: absolute;
      top: 33%;
      left: 32%;

      display: block;
      width: 15px;
      height: 15px;

      border-width: 3px;
      border-style: solid;
      border-color: black;
      border-top: none;
      border-right: none;
      transform: rotate(45deg);
    }

    &:after {
      content: "";
      position: absolute;
      top: 48%;
      left: 32%;

      display: block;
      width: 46px;
      height: 3px;

      background-color: black;
    }
  }

  &--next {
    &:before {
      content: "";
      position: absolute;
      top: 33%;
      right: 32%;

      display: block;
      width: 15px;
      height: 15px;

      border-width: 3px;
      border-style: solid;
      border-color: black;
      border-bottom: none;
      border-left: none;
      transform: rotate(45deg);
    }

    &:after {
      content: "";
      position: absolute;
      top: 48%;
      right: 32%;

      display: block;
      width: 46px;
      height: 3px;

      background-color: black;
    }
  }
}

@media ($tablet-width) {
  .reviews {
    position: relative;

    min-height: 457px;
    padding-top: 0;
    padding-bottom: 85px;

    &::before {
      content: "";
      position: absolute;
      z-index: -1;

      display: block;
      width: 350px;
      height: 457px;

      background-image: url("../img/review@1x.jpg");
      background-repeat: no-repeat;
      background-size: 350px auto;
    }

    &:after {
      height: 17px;

      background-size: 772px 17px;
    }
  }

  @media ($retina-dpi), ($retina-dppx) {
    .reviews {
      &::before {
        background-image: url("../img/review@2x.jpg");
      }
    }
  }

  .reviews__inner {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding-top: 77px;
  }

  .reviews__title {
    order: 1;
    padding-bottom: 48px;

    font-size: $tablet-font-size-categories-title;
    line-height: $tablet-line-height-categories-title;
  }

  .reviews__item {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    order: 3;
    padding-bottom: 0;
  }

  .reviews__text-review {
    padding-bottom: 56px;
  }

  .reviews__author-name {
    display: block;
  }

  .reviews__btn-wrapper {
    justify-content: flex-start;
    order: 4;
    padding-bottom: 30px;
  }

  .reviews__btn {
    min-width: 87px;
    padding: 0;

    border: none;

    &--prev {
      &::before {
        top: 33%;
        left: 26%;
      }

      &::after {
        top: 45%;
        left: 26%;
      }
    }

    &--next {
      &::before {
        top: 33%;
        right: 26%;
      }

      &::after {
        top: 45%;
        right: 26%;
      }
    }
  }
}

@media ($desktop-width) {
  .reviews {
    padding-top: 0;
    padding-bottom: 91px;

    &::before {
      left: 50px;
    }

    &:after {
      height: 23px;

      background-size: 1150px 23px;
    }
  }

  .reviews__inner {
    width: 875px;
    padding-top: 69px;
    padding-left: 225px;
  }

  .reviews__title {
    padding-bottom: 49px;

    font-size: $desktop-font-size-categories-title;
    line-height: $desktop-line-height-categories-title;
  }

  .reviews__text-review {
    padding-bottom: 36px;
  }
}
