.reviews {
  margin-bottom: 44px;
  font-size: $font-size-normal-text;
  line-height: 30px;
  color: $page-font-color;
}

.reviews__title {
  margin-top: 0;
  margin-bottom: 30px;
  font-size: $font-size-section-title;
  font-weight: bold;
  color: black;
}

.reviews__item {
  margin: 0;
  margin-bottom: 25px;
}

.reviews__text-review {
  margin-bottom: 20px;
}

.reviews__author-name {
  font-weight: bold;
  font-style: normal;
  color: black;
}

.reviews__btn-wrapper {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  margin-bottom: 38px;
}

.reviews__btn {
  height: 50px;
  min-width: 130px;
  font-size: 0;
  border-width: 1px;
  border-style: solid;
  border-color: $line-border-color;
  background: none;
  outline: none;
  cursor: pointer;

  &:hover {
    &:before {
      border-color: #666666;
    }

    &:after {
      background-color: #666666;
    }
  }

  &:active {
    &:before {
      border-color: #b2b2b2;
    }

    &:after {
      background-color: #b2b2b2;
    }
  }
}

.reviews__btn--prev {
  position: relative;
  border-right: none;

  &:before {
    content: '';
    position: absolute;
    top: 17px;
    left: 41px;
    display: block;
    width: 12px;
    height: 12px;
    border-left: 3px solid black;
    border-bottom: 3px solid black;
    transform: rotate(45deg);
  }

  &:after {
    content: '';
    position: absolute;
    top: 23px;
    left: 41px;
    display: block;
    width: 51px;
    height: 3px;
    background-color: black;
  }
}

.reviews__btn--next {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 17px;
    right: 41px;
    display: block;
    width: 12px;
    height: 12px;
    border-right: 3px solid black;
    border-top: 3px solid black;
    transform: rotate(45deg);

    &:hover {
      border-color: #666666;
    }

    &:active {
      border-color: #b2b2b2;
    }
  }

  &:after {
    content: '';
    position: absolute;
    top: 23px;
    right: 41px;
    display: block;
    width: 51px;
    height: 3px;
    background-color: black;

    &:hover {
      background-color: #666666;
    }

    &:active {
      background-color: #b2b2b2;
    }
  }
}
