.social {
  min-height: 80px;
  width: 260px;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  min-height: 80px;
  margin: 0;
  padding: 0;
  padding-left: 39px;
  padding-right: 39px;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $all-color-page-borders;
  list-style: none;
}

.social__link {
  display: block;
  padding: 0;

  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 29px;
  }

  &--twitter {
    width: 24px;
    height: 20px;

  }
}

@media ($table-width) {
  .social__list {
    border: none;
  }
}
