.social {
  width: 260px;
  min-height: 80px;
}

.social__list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  padding-top: 23px;
  padding-right: 39px;
  padding-bottom: 25px;
  padding-left: 39px;

  list-style: none;

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: $all-color-page-borders;
}

.social__link {
  display: block;
  padding: 0;

  &--instagram {
    width: 22px;
    height: 21px;
  }

  &--facebook {
    width: 15px;
    height: 29px;
  }

  &--twitter {
    width: 24px;
    height: 20px;
  }
}

.social__link-icon {
  fill: #221f1f;
}

.social__link:hover > svg {
  transition-duration: 0.35s;

  fill: $hover-social-icon-color;
}

.social__link:active > svg {
  fill: $active-social-icon-color;
}

@media ($tablet-width) {
  .social__list {
    min-height: auto;
    padding-top: 25px;

    border: none;
  }
}
